A detailed look at Police shootings in the US from 2015 to 2022

In [73]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [74]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [75]:
PolShoot = pd.read_csv("C:/Users/ga87d/Downloads/US Police shootings 2015-22.csv")

Quick overview of our dataset

In [76]:
PolShoot.head(10) # Snapshot of our data just to get an idea of the information included

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,1,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,2,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,3,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,4,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,5,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True
5,6,Kenneth Joe Brown,2015-01-04,shot,gun,18.0,M,W,Guthrie,OK,False,attack,Not fleeing,False,-97.423,35.877,True
6,7,Kenneth Arnold Buck,2015-01-05,shot,gun,22.0,M,H,Chandler,AZ,False,attack,Car,False,-111.841,33.328,True
7,8,Brock Nichols,2015-01-06,shot,gun,35.0,M,W,Assaria,KS,False,attack,Not fleeing,False,-97.564,38.704,True
8,9,Autumn Steele,2015-01-06,shot,unarmed,34.0,F,W,Burlington,IA,False,other,Not fleeing,True,-91.119,40.809,True
9,10,Leslie Sapp III,2015-01-06,shot,toy weapon,47.0,M,B,Knoxville,PA,False,attack,Not fleeing,False,-79.991,40.413,True

In [77]:
PolShoot.shape  # how large is our dataset?

(7729, 17)

In [78]:
PolShoot.info()  # what types of data does our datasset include?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7729 entries, 0 to 7728
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       7729 non-null   int64
 1   name                     7312 non-null   object
 2   date                     7729 non-null   object
 3   manner_of_death          7729 non-null   object
 4   armed                    7520 non-null   object
 5   age                      7247 non-null   float64
 6   gender                   7709 non-null   object
 7   race                     6269 non-null   object
 8   city                     7729 non-null   object
 9   state                    7729 non-null   object
 10  signs_of_mental_illness  7729 non-null   bool
 11  threat_level             7729 non-null   object
 12  flee                     6854 non-null   object
 13  body_camera              7729 non-null   bool
 14  longitude                6892 non-null   float64
 15  latitude                 6892 non-null   float64
 16  is_geocoding_exact       7729 non-null   bool
dtypes: bool(3), float64(3), int64(1), object(10)
memory usage: 868.1+ KB

Cleaning up the dataset

In [79]:
PolShoot.drop(columns= ['longitude', 'latitude', 'is_geocoding_exact'], axis=1, inplace=True)   
# lets clean up our data to exclude any unnecessary columns (also eliminating datatypes that take a lot of memory)

In [80]:
PolShoot.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,1,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,2,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,3,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,4,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,5,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [81]:
PolShoot.info()     #  868kb down to 740kb

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7729 entries, 0 to 7728
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       7729 non-null   int64
 1   name                     7312 non-null   object
 2   date                     7729 non-null   object
 3   manner_of_death          7729 non-null   object
 4   armed                    7520 non-null   object
 5   age                      7247 non-null   float64
 6   gender                   7709 non-null   object
 7   race                     6269 non-null   object
 8   city                     7729 non-null   object
 9   state                    7729 non-null   object
 10  signs_of_mental_illness  7729 non-null   bool
 11  threat_level             7729 non-null   object
 12  flee                     6854 non-null   object
 13  body_camera              7729 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 739.8+ KB

In [82]:
PolShoot.isnull().sum()  # how many Null values does our dataset contain?

id                            0
name                        417
date                          0
manner_of_death               0
armed                       209
age                         482
gender                       20
race                       1460
city                          0
state                         0
signs_of_mental_illness       0
threat_level                  0
flee                        875
body_camera                   0
dtype: int64

In [83]:
ps1 = PolShoot.dropna()  # removing rows with Null values

In [84]:
ps1.info()   # 740 to 564kb

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5452 entries, 0 to 7702
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       5452 non-null   int64
 1   name                     5452 non-null   object
 2   date                     5452 non-null   object
 3   manner_of_death          5452 non-null   object
 4   armed                    5452 non-null   object
 5   age                      5452 non-null   float64
 6   gender                   5452 non-null   object
 7   race                     5452 non-null   object
 8   city                     5452 non-null   object
 9   state                    5452 non-null   object
 10  signs_of_mental_illness  5452 non-null   bool
 11  threat_level             5452 non-null   object
 12  flee                     5452 non-null   object
 13  body_camera              5452 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 564.4+ KB

Analyzing the data

Provide basic/general insights into what this data is telling us.

In [85]:
print(ps1['race'].value_counts())
print(ps1['armed'].value_counts())
print(ps1['threat_level'].value_counts())
print(ps1['flee'].value_counts())

W    2785
B    1468
H     976
A      99
N      82
O      42
Name: race, dtype: int64
gun                        3216
knife                       821
unarmed                     405
toy weapon                  202
vehicle                     192
                           ...
air conditioner               1
baseball bat and bottle       1
fireworks                     1
pen                           1
ax and machete                1
Name: armed, Length: 97, dtype: int64
attack          3581
other           1746
undetermined     125
Name: threat_level, dtype: int64
Not fleeing    3565
Car             849
Foot            810
Other           228
Name: flee, dtype: int64

Which states have had the most police shootings? Show the top 10.

In [86]:
ps1.groupby(['state'])['id'].count().sort_values(ascending=False).head(10)
#grouping by state, counting total number of id's, sorting descending top 10

state
CA    776
TX    466
FL    377
AZ    242
GA    201
CO    188
NC    165
OH    163
OK    159
TN    148
Name: id, dtype: int64

Break down in detail which ethnicities from which states are at the highest risk of a police shooting.

In [87]:
ps1.groupby(['state', 'race'], as_index=False)['id'].count().sort_values(by='id', ascending=False).head(20)

    state race   id
16     CA    H  345
19     CA    W  234
171    TX    W  201
38     FL    W  183
15     CA    B  153
169    TX    H  149
35     FL    B  133
13     AZ    W  118
168    TX    B  107
25     CO    W  106
145    OK    W  104
166    TN    W  103
42     GA    W   96
111    NC    W   95
11     AZ    H   93
140    OH    W   89
40     GA    B   88
61     IN    W   79
70     KY    W   75
191    WA    W   73

In [93]:
import pandas as pd
import pandas_profiling as pf

In [109]:
rpt = pf.ProfileReport(ps1)
rpt.to_file("ps1.html")

Summarize dataset: 100%|██████████| 37/37 [00:01<00:00, 18.65it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.16s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  2.17it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 321.75it/s]